# Jupyter Notebook
.ipynb_checkpoints
__pycache__/
.idea/
*.pyc
correlation3_unscaled/
ec_subseq/
generate_event_representations.py
gt_tracks/
mf/
models/archives/
models/klt_fast/
models/klt_orb/
models/klt_sift/
models/my_klt/
models/pose_klt/
multiflow/
multiflow_extras/
new_multiflow_weights/
p_weights/
patch_reference_image.png
pose/
